body {
  background-color: #1b334be7;
  overflow-x: hidden;
  font-family:sans-serif;
  color: #ffffff9f;;
}

a {
  text-decoration: none;
}

 .loader_bg {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%; 
  background-color: white;
} 
.loader {
  display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
  -webkit-transform-style: preserve-3d;
}

.loader img {
  height: auto;
}
hr{
 border: 1px solid;
}
/* nav */
.navbar {
  position:sticky;
  top: 0;
  left: 0;
  z-index: 15;
  backdrop-filter: blur(20px);
}

.navbar-brand h3 span {
  color: rgb(32, 187, 218);
}

.navbar-brand h3 {
  color: white;
  
}
 
.navbar-nav .nav-item .nav-link:hover {
  color: rgb(32, 187, 218);
}
 .animate{
  font-size: 33px;
 }
.typed{
  font-size: 33px;
  color: rgb(32, 187, 218);
}
.resume{
  display: flex;
  align-items: center;
  justify-content: center;
}
 
/* socialbtn */
.fa-whatsapp {
  color: rgb(32, 187, 218);
  font-size: 30px;
}
.fa{
 color: rgb(32, 187, 218)
}
.fa-whatsapp:hover {
  color: rgb(1, 93, 1);
}

.fa-linkedin {
  color: rgb(32, 187, 218);
  font-size: 30px;
}

.fa-linkedin:hover {
  color: blue;
}

.fa-twitter {
  color: rgb(32, 187, 218);
  font-size: 30px;
}

.fa-twitter:hover {
  color: lightseagreen;
}

.fa-facebook {
  color: rgb(32, 187, 218);
  font-size: 30px;
}

.fa-facebook:hover {
  color: rgba(0, 0, 255, 0.746);
}

.fa-github {
  color: rgb(32, 187, 218);
  font-size: 30px;
}

.fa-github:hover {
  color: black;
}

/* Quicklink */
.aaa {
  text-decoration: none;
  color: white;
}


h2 {
  color: rgb(32, 187, 218);
}
.section-profile{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  filter: brightness(60%);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  
}


#contact {
  background-color: #28333e;
  background-image: url("../image/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio-caption-heading{
  color: black;
  font-weight: 500;
}
#backtotop {
  z-index: 999;
  display: inline-block;
  position: fixed;
  visibility: hidden;
  bottom: 20px;
  right: 50px;
  width: 36px;
  height: 36px;
  font-size: 19px;
  text-align: center;
  color: rgb(32, 187, 218);
  border-radius: 50px;
  background-color: #28333e;
   
}
#backtotop   {
  animation: spin  2s  linear infinite;
}
@keyframes spin{
  0%{
        transform: translateY(-5px);
  }
  100% {
    transform: translateY(-50px);
  }
}
.img-thumbnail{
  height: 199px;
  width: 400px;
}
.img-fluid{
  width: 100%;
}
.small{
  font-style: italic;
}
.code{
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 70px;
  margin: 0 14px 0 14px;
}
.portfolio-caption-subheading{
  background-color: #28333e;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  
}
.portfolio-caption-subheading i {
  color: rgb(32, 187, 218);
  margin-top: 7px;
}
.skills-img{
  height: 48px;
}
@media(max-width: 414px) {

  .socialbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  #back , #backtotop{
    right: 20px;
    z-index: 999;
    position: fixed;
  }
  
}

@media (max-width: 390px){
 #home{
  font-size: 12px;
 }
}