body {
  background-color: #ebdede;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.loader_bg {
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 280px;
}

/* nav */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgb(95, 93, 93);
  backdrop-filter: blur(20px);

}

.navbar-brand h3 span {
  color: orangered;
  font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji'";
}

.navbar-brand h3 {
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji'";

}
.navbar-nav {
  font-family:"Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji";
}

.navbar-nav .nav-item .nav-link:hover {
  color: orangered;
}
 .animate , .typed{
  font-size: 33px;
  color: orangered;
}
.resume{
  display: flex;
  align-items: center;
  justify-content: center;
}
 
/* socialbtn */
.fa-whatsapp {
  color: orangered;
  font-size: 30px;
}

.fa-whatsapp:hover {
  color: rgb(1, 93, 1);
}

.fa-linkedin {
  color: orangered;
  font-size: 30px;
}

.fa-linkedin:hover {
  color: blue;
}

.fa-twitter {
  color: orangered;
  font-size: 30px;
}

.fa-twitter:hover {
  color: lightseagreen;
}

.fa-facebook {
  color: orangered;
  font-size: 30px;
}

.fa-facebook:hover {
  color: rgba(0, 0, 255, 0.746);
}

.fa-github {
  color: orangered;
  font-size: 30px;
}

.fa-github:hover {
  color: black;
}

/* Quicklink */
.aaa {
  text-decoration: none;
  color: white;
}

/* .darkmode */
.darkmode  {
  background-color: rgb(18, 18, 18);
  color: white;
}
#back{
   z-index: 999;

  position: fixed;
  bottom: 55px;
  right: 50px;
  width: 36px;
  height: 36px;
  font-size: 19px;
  text-align: center;
  color: white;
  border-radius: 50px;
  background-color: #1f1f20;
  animation: up 2s linear infinite;
}
 
@-webkit-keyframes up {
  0%{
    transform: translateY(-10px);
}
100% {
transform: translateY(-70px);
}
}
h2 {
  color: orangered;
}
.section-profile{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  filter: brightness(60%);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  
}

.hi {
  height: 100px;
  width: 100px;
}

 

#contact {
  background-color: #28333e;
  background-image: url("image/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio-caption-heading{
  color: black;
}
#backtotop {
  z-index: 999;
  display: inline-block;
  position: fixed;
  visibility: hidden;
  bottom: 20px;
  right: 50px;
  width: 36px;
  height: 36px;
  font-size: 19px;
  text-align: center;
  color: orangered;
  border-radius: 50px;
  background-color: #28333e;
   
}
#backtotop   {
  animation: spin  2s  linear infinite;
}
@keyframes spin{
  0%{
        transform: translateY(-5px);
  }
  100% {
    transform: translateY(-50px);
  }
}
.img-thumbnail{
  height: 199px;
  width: 420px;
}
.small{
  font-style: italic;
}
.code{
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 70px;
  margin: 0 14px 0 14px;
}
.portfolio-caption-subheading{
  background-color: #28333e;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  
}
.portfolio-caption-subheading i {
  color: orangered;
  margin-top: 7px;
}
@media(max-width: 414px) {

  .socialbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  #back , #backtotop{
    right: 20px;
    z-index: 999;
    position: fixed;
  }
  
}

/* @media (max-width: 414px){
 
} */